h1 {
  color: black;
  font-family: 'Cinzel', Courier, serif;
}

p {
  color: black;
  font-family: 'Open Sans', Helvetiva, sans-serif;
}

img{
  border: none;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media only screen and (max-device-width: 480px) {
#nav {
		flex-direction: column;
		justify-content: center;
	}
}

#nav li {
  list-style-type: none;
}
 #nav {
   padding: 0;
 }

#nav a:link {
  display: block;
  color: purple;
  font-weight: bold;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  padding: 2px;
  text-decoration: none;
  text-align: center;
  background-color: #D572DD;
}

#nav a:hover, #nav a:active {
  color: red;
  text-decoration: underline;
}

@media only screen and (min-device-width: 480px) {
.floater {
  width: 40%;
  float: left;
  margin-right: 10px;
}
}

#grid {
  display: flex;
  flex-direction: row;
}

#grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
